body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
}

form {
  background-color: #fff; /* Form background color */
  color: #007bff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Box shadow for the form */
  width: 400px; /* Adjust the width as needed */
  text-align: center; /* Center the form contents */
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

button[type='submit'] {
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for button color */
}

button[type='submit']:hover {
  background-color: #0056b3; /* Button color on hover */
}
