.signUpScreen {
    position: relative;
    height: 100;
    background-image: url('https://img.freepik.com/free-photo/abstract-uv-ultraviolet-light-composition_23-2149243965.jpg?w=900&t=st=1695079455~exp=1695080055~hmac=7b9a163b51458fad3cb6f65523032243a130bd599d612e863e21fbb19f065450');
    background-size: cover;
}